mat-form-field {
  width: 300px;
}
.login{
  padding: 40px;
}
.login-image{
  width: 350px;
  height: 300px;
}
.loginIcon{
  width: 20px;
  height: 20px;
}
.text{
  height: auto;
  margin-bottom:20px;
}


