<section class="remind">
  <form
  fxLayout="column"
  fxLayoutAlign="center center"
  fxLayoutGap="10px"
  [formGroup]="remindForm"
  (ngSubmit)="onSubmit()">

  <!--Email input-->
  <mat-form-field>
    <input
        matInput
        placeholder="Email"
        ngModel
        formControlName="email"
        required />
        <mat-error>Please enter a valid email.</mat-error>
  </mat-form-field>

   <!--Submit button-->
  <button *ngIf="!isLoading" mat-raised-button color="accent" type="submit" [disabled]="remindForm.invalid">Send link</button>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <img src="../../assets/images/remindImg.png" fxFlexAlign="center" class="remind-image">
</form>
</section>
