<div class="welcome" fxLayout="column" fxLayout.gt-xs="column" fxLayoutGap.gt-xs="20px" fxLayoutAlign="center center">
<section class="card">
  <mat-card fxFlex.xs="100%" fxFlex="400px" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Activity</mat-card-title>
        <mat-card-subtitle>Stay active and enjoy better health and more fun !</mat-card-subtitle>
        <img mat-card-md-image src="../../assets/images/welcomeImg1.png">
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
</section>
<section class="card">
  <mat-card fxFlex.xs="100%" fxFlex="400px" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Community</mat-card-title>
        <mat-card-subtitle>Get to know other people who share your passion !</mat-card-subtitle>
        <img mat-card-md-image src="../../assets/images/welcomeImg2.png">
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
</section>
<section class="card">
  <mat-card fxFlex.xs="100%" fxFlex="400px" class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Challenges</mat-card-title>
        <mat-card-subtitle>Never give up! Dive into new challenges every day !</mat-card-subtitle>
        <img mat-card-md-image src="../../assets/images/welcomeImg3.png">
      </mat-card-title-group>
    </mat-card-header>
  </mat-card>
  <mat-divider></mat-divider>
</section>
<button mat-fab color="accent" routerLink="/training">
  <mat-icon>sports_gymnastics</mat-icon>
</button>
