<mat-card class="starter-card" fxFlex="100%">
  <img src="../../assets/images/starterImg.png" fxFlexAlign="center" class="starter-image">
  <mat-card-content class="content">
    <p><mat-label fxLayoutAlign="center center">Energize your life !</mat-label></p>
    <mat-label fxLayoutAlign="center center">If you want to be a hit in your life,</mat-label>
    <mat-label fxLayoutAlign="center center">you gotta be fit and fine.</mat-label>
  </mat-card-content>
  <mat-card-actions class="actions" fxLayoutAlign="center center">
    <button mat-raised-button color="accent" class="btn" routerLink="/login">Get Started</button>
  </mat-card-actions>
</mat-card>
