<div class="success-training" fxFlex.gt-xs="100%" fxFlex.xs="100%" fxLayoutGap="10px" fxLayoutGap.gt-xs="15px" fxLayoutAlign.gt-xs="center center">
<mat-card fxFlex.xs="100%" fxFlex.gt-xs="100%" fxFlex.gt-xs="100%" class="success-training-card">
  <mat-card-header fxLayoutAlign.gt-xs="center">
    <div mat-card-avatar class="success-icon-image"></div>
    <mat-card-title>Training done successfully !</mat-card-title>
    <mat-card-subtitle>Your results has been saved.</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayoutAlign.gt-xs="center">
  <img mat-card-image src="../../assets/images/successImg.png" class="success-image">
  </mat-card-content>
  <mat-card-actions fxLayoutAlign.xs="center" fxLayoutAlign.gt-xs="center">
    <button mat-raised-button color="accent" (click)="onComfirm()">Confirm</button>
  </mat-card-actions>
</mat-card>
</div>

